<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="center">
  <ion-img src="../assets/Logo.png" padding>
  </ion-img>
</div>
  <div class="ion-text-center">
  <h1>MoveIt</h1>
  <h3>Sign in</h3>
  </div>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)">

    <ion-item>
      <ion-label  position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          <ion-icon class="icon" name="close-circle-outline" size="small"></ion-icon>
          <ion-label>{{ validation.message }}</ion-label>
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label  position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-control" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          <ion-icon class="icon" name="close-circle-outline" size="small"></ion-icon>
          <ion-label>{{ validation.message }} </ion-label>
        </div>
      </ng-container>
    </div>


    
  <ion-item>
    <a (click)="goToRegisterPage()">Not a member yet?</a>
    <ion-button size="big" slot="end" color="secondary" class="submit-btn" type="submit" [disabled]="!loginForm.valid" float-right>Login</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
</ion-item>
</form>
</ion-content>
