<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Information</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card>
        <img src="../../assets/{{data.picture}}"/>
        <ion-card-header>
            <ion-card-title>{{data.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{data.content}}
        </ion-card-content>
    </ion-card>
</ion-content>