<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Information</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card>
        <img src="img/nin-live.png"/>
        <ion-card-header>
            <ion-card-title>Moderate vs. vigorous</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Intensity refers to the rate at which the activity is being performed or the magnitude of the effort
            required to perform an activity or exercise. It can be thought of "How hard a person works to do the
            activity".

            The intensity of different forms of physical activity varies between people. The intensity of physical
            activity depends on an individuals previous exercise experience and their relative level of fitness.
            Consequently, the examples given below are provided as a guide only and will vary between individuals.
            Intensity refers to the rate at which the activity is being performed or the magnitude of the effort
            required to perform an activity or exercise. It can be thought of "How hard a person works to do the
            activity".

            The intensity of different forms of physical activity varies between people. The intensity of physical
            activity depends on an individuals previous exercise experience and their relative level of fitness.
            Consequently, the examples given below are provided as a guide only and will vary between individuals.
            Intensity refers to the rate at which the activity is being performed or the magnitude of the effort
            required to perform an activity or exercise. It can be thought of "How hard a person works to do the
            activity".

            The intensity of different forms of physical activity varies between people. The intensity of physical
            activity depends on an individuals previous exercise experience and their relative level of fitness.
            Consequently, the examples given below are provided as a guide only and will vary between individuals.
            Intensity refers to the rate at which the activity is being performed or the magnitude of the effort
            required to perform an activity or exercise. It can be thought of "How hard a person works to do the
            activity".

            The intensity of different forms of physical activity varies between people. The intensity of physical
            activity depends on an individuals previous exercise experience and their relative level of fitness.
            Consequently, the examples given below are provided as a guide only and will vary between individuals.

        </ion-card-content>
    </ion-card>
</ion-content>