<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Newsfeed</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>


    <ion-list>
      <ion-list-header>
        Active Minutes
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/Profilbild.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Maja</h2>
          <h3>20 years</h3>
          <p>150 active minutes</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/Profilbild.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Ursula</h2>
          <p>120 active minutes</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/Profilbild.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Phil</h2>
          <h3>40 years old</h3>
          <p>115 active minutes</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="./assets/Profilbild.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Mary</h2>
          <h3>25 years old</h3>
          <p>100 active minutes</p>
        </ion-label>
      </ion-item>
    </ion-list>
  
  
  </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/menu/progress" routerDirection="root">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Progress</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/menu/add-activity" routerDirection="root">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Add Activity</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/menu/information" routerDirection="root">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Information</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>