<ion-list>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input [(ngModel)]="challenge.title" placeholder="Title" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input [(ngModel)]="challenge.description" placeholder="Description" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Start</ion-label>
    <ion-datetime [(ngModel)]="challenge.startTime" displayFormat="YYYY-MM-DD" placeholder="Start Time" text-right></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End</ion-label>
    <ion-datetime [(ngModel)]="challenge.endTime" displayFormat="YYYY-MM-DD" placeholder="End Time" text-right></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Price</ion-label>
    <ion-input [(ngModel)]="challenge.price" placeholder="Price" text-right></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="addChallenge()" color="secondary"  slot="end" float-right>Create</ion-button>
  </ion-item>
</ion-list>