<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
  </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Edit activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   
  <ion-list>
    <ion-item>
      <ion-label>Kind of activity</ion-label>
      <ion-select [(ngModel)]="activity.type" placeholder="Select One" disabled="false">
        <ion-select-option *ngFor="let type of types">{{type}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Intensity*</ion-label>
        <ion-select [(ngModel)]="activity.intensity" placeholder="Select One">
          <ion-select-option *ngFor="let intensity of intensities">{{intensity}}</ion-select-option>
        </ion-select>
      </ion-item> 

      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime placeholder="Select Date"  [(ngModel)]="activity.startDateIso" [max]="today" (ionChange)="convertDate()"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime placeholder="Select Time" display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="activity.startTimeIso"></ion-datetime>
      </ion-item>
    <ion-item>
      <ion-label>Duration</ion-label>
      <ion-input [(ngModel)]="activity.minutes" type="number" slot="end" placeholder="Minutes" text-right></ion-input>
    </ion-item>

    <ion-item>
      <a (click)="routeToInfoSingle()">*get infos</a>
      <!--<ion-button expand="block">Add activity</ion-button>-->
  </ion-item>

    <section>
      <ion-button (click)=editActivity()  color="secondary" slot="end" float-right>Edit activity</ion-button>
      <!--<ion-button expand="block">Add activity</ion-button>-->
    </section>

    <div class="error-message" *ngIf='(todayA.getTime() - activity.endTime.getTime()) < 0' class="error-message">
      <ion-icon class="icon" name="close-circle-outline" size="small"></ion-icon>
      <ion-label> You cannot edit activities for the future </ion-label>
    </div>
   

  </ion-list>

</ion-content>
