<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" >
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Information</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <!--<ion-button type="button" (click)='createInformation()'>Create</ion-button>
    <ion-button type="button" (click)='editInformation()'>Edit</ion-button>
    <ion-button type="button" (click)='getInformation()'>Get</ion-button>
    <ion-button type="button" (click)='getAllInformation()'>Get All</ion-button>-->

    <ion-card *ngFor="let info of static; let i = index;">
        <img src="../../assets/{{info.picture}}"/>
        <ion-card-header>
            <ion-card-title>{{info.title}} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{info.description}}
            <br/><br/>
            <ion-button routerDirection="forward" fill="outline" slot="end" (click)="passData(i)" color="secondary">More</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let info of dynamic">
        <img src="{{info.picture }}"/>
        <ion-card-header>
            <ion-card-title>{{info.title}} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{info.content}}
            <br/><br/>
            <a [href]="info.link" target="_blank"><ion-button color="secondary"color="secondary" fill="outline" slot="end">More</ion-button></a>
        </ion-card-content>
    </ion-card>

</ion-content>
