.gender{
    color: rgb(153, 153, 153);
    opacity: 1;
}


.error-message{
    margin: 13px;
    color: red;
    display:flex;
    //vertical-align: middle;
   }

   .icon{
       margin-right: 4px;
   }