<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-button (click)="sendNotification()">Send Notification</ion-button>
  <ion-button (click)="sendGoalNotification()">Send Goal Notification</ion-button>-->
  <h2 padding>Send Goal Push Notification to all Users!</h2>

  <!--<section>
    <ion-button color="secondary" padding>Save</ion-button>
  </section>
  <br>-->

  <ion-row>
    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Title</ion-label>
        </ion-list-header>
        <ion-item><ion-input [(ngModel)]="title"></ion-input></ion-item>
      </ion-list>
    </ion-col>

    <!--<ion-col size="3">
      <ion-list>
        <ion-list-header>
          <ion-label>Trigger</ion-label>
        </ion-list-header>
        <ion-item>{{notification.trigger}}</ion-item>
      </ion-list>
    </ion-col>-->

    <ion-col size="8">
      <ion-list>
        <ion-list-header>
          <ion-label>Body</ion-label>
        </ion-list-header>
        <ion-item><ion-input [(ngModel)]="body"></ion-input></ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Send</ion-label>
        </ion-list-header>
        <ion-item><ion-button (click)="sendGoalNotification(title, body)" color="secondary">Send</ion-button></ion-item>
      </ion-list>
    </ion-col>

    <!--<ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Reaction</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-select [(ngModel)]="notifications.option1" placeholder="Select One" disabled="false">
            <ion-select-option value="{{notification.option1}}">{{notification.option1}}</ion-select-option>
            <ion-select-option value="{{notification.option2}}">{{notification.option2}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>-->

    <!--<ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Group</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-select [(ngModel)]="notifications.groups" placeholder="Select One" disabled="false">
            <ion-select-option value="{{notification.groups[0]}}">{{notification.groups[0]}}</ion-select-option>
            <ion-select-option value="{{notification.groups[1]}}">{{notification.groups[1]}}</ion-select-option>
            <ion-select-option value="{{notification.groups[2]}}">{{notification.groups[2]}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>-->


  </ion-row>

  <h2 padding>Send Push Notification to a specific user!</h2>

  <ion-row>
    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Title</ion-label>
        </ion-list-header>
        <ion-item><ion-input [(ngModel)]="title2"></ion-input></ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="6">
      <ion-list>
        <ion-list-header>
          <ion-label>Body</ion-label>
        </ion-list-header>
        <ion-item><ion-input [(ngModel)]="body2"></ion-input></ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Send</ion-label>
        </ion-list-header>
        <ion-select placeholder="Select One" [(ngModel)]="user">
          <ion-select-option  *ngFor="let user of users" [value]="user.id">{{user.name}}</ion-select-option>
          </ion-select>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Send</ion-label>
        </ion-list-header>
        <ion-item><ion-button (click)="sendNotification(title2, body2, user)" color="secondary">Send</ion-button></ion-item>
      </ion-list>
    </ion-col>

    </ion-row>
</ion-content>
