<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <!-- <div>
    <ion-row>
      <ion-col size="5" margin-top=80>
        <ion-card>
          <ion-item>
          <ion-img src="../assets/Profilbild.jpg"></ion-img>
        </ion-item>
        </ion-card>
      </ion-col>
        <ion-col size="5" margin-top=80>
        <ion-card>
          <ion-item>
          <ion-img src="../assets/Profilbild.jpg"></ion-img>
        </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>-->

  <ion-row *ngFor="let row of allservices">
    <ng-container *ngFor="let item of row">
      <ion-col style="padding:1px;" [attr.col-8]="item.col8">
        <ion-card [routerLink]='item.routerLink'>
          <ion-item>
        <div class="tile">{{item.label}}</div>
      </ion-item>
      </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>

</ion-content>
