<ion-split-pane contentId="content">
  <ion-menu side="end" contentId="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        
      
        <ion-menu-toggle side="end" auto-hide="false" *ngFor="let p of pages" >
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
              {{ p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item tappable (click)=logout() routerLink="/login" routerDirection="root">
          <!--<ion-icon name="log-out" slot="start"></ion-icon>-->
          Logout
        </ion-item>
        <ion-menu-toggle side="end" auto-hide="false">
        <ion-item tappable routerLink="/menu/credits" routerDirection="root" class.active-item="selectedPath.startsWith('/menu/credits')">
          <!--<ion-icon name="log-out" slot="start"></ion-icon>-->
          Credits
        </ion-item>
      </ion-menu-toggle>

      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
