  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/menu/progress" routerDirection="root">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>Progress</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/menu/add-activity" routerDirection="root">
        <ion-icon name="add"></ion-icon>
        <ion-label>Add Activity</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/menu/information" routerDirection="root">
        <ion-icon color="secondary" name="information-circle-outline"></ion-icon>
        <ion-label color="secondary">Information</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>