<ion-list>
  <ion-item>
    <ion-label>Title:</ion-label>
    <ion-input  [(ngModel)]="information.title" placeholder="Enter Title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description:</ion-label>
    <ion-input  [(ngModel)]="information.content" placeholder="Enter Description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Link:</ion-label>
    <ion-input  [(ngModel)]="information.link" placeholder="Enter Link"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Image:</ion-label>
    <ion-input  [(ngModel)]="information.picture" placeholder="Upload image"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="addInformation()" color="secondary"  slot="end" float-right>Create</ion-button>
  </ion-item>
</ion-list>