<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Export</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--<ion-button color="light" (click)="export('activities', 'user')">Get User Activities</ion-button>
    <ion-button color="light" (click)="export('activities', 'group')">Get Group Activities</ion-button>
    <ion-button color="light" (click)="export('activities', 'all')">Get All Activities</ion-button>
    <br/>
    <ion-button color="light" (click)="export('goals', 'user')">Get User Goals</ion-button>
    <ion-button color="light" (click)="export('goals', 'group')">Get Group Goals</ion-button>
    <ion-button color="light" (click)="export('goals', 'all')">Get All Goals</ion-button>
    <br/>
    <ion-button color="light" (click)="export('goalWins', 'user')">Get User goalWins</ion-button>
    <ion-button color="light" (click)="export('goalWins', 'group')">Get Group goalWins</ion-button>
    <ion-button color="light" (click)="export('goalWins', 'all')">Get All goalWins</ion-button>
    <br/>
    <ion-button color="light" (click)="export('trophyWins', 'user')">Get User trophyWins</ion-button>
    <ion-button color="light" (click)="export('trophyWins', 'group')">Get Group trophyWins</ion-button>
    <ion-button color="light" (click)="export('trophyWins', 'all')">Get All trophyWins</ion-button>
    <br/>
    <ion-button color="light" (click)="export('viewLogs', 'user')">Get User viewLogs</ion-button>
    <ion-button color="light" (click)="export('viewLogs', 'group')">Get Group viewLogs</ion-button>
    <ion-button color="light" (click)="export('viewLogs', 'all')">Get All viewLogs</ion-button>
    <br/>
    <ion-button color="light" (click)="export('actionLogs', 'user')">Get User actionLogs</ion-button>
    <ion-button color="light" (click)="export('actionLogs', 'group')">Get Group actionLogs</ion-button>
    <ion-button color="light" (click)="export('actionLogs', 'all')">Get All actionLogs</ion-button>
  <br/>
  <ion-button color="light" (click)="export('trophies', '')">Get trophies</ion-button>
  <ion-button color="light" (click)="export('defaultGoals', '')">Get goals</ion-button>
  <ion-button color="light" (click)="export('challenges', '')">Get challenges</ion-button>-->

    <!--<h2 padding>Download the data</h2>
    <section>
        <ion-button color="secondary" padding>Download all</ion-button>
        <ion-button color="secondary" padding>Download Group Data</ion-button>
    </section>
    <br>-->

    <h2 padding>Download static data!</h2>

    <ion-row>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Entity</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-select [(ngModel)]="select" placeholder="Select One">
                        <ion-select-option value="challenges">Challenges</ion-select-option>
                        <ion-select-option value="defaultGoals">Default Goals</ion-select-option>
                        <ion-select-option value="trophies">Trophies</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data</ion-label>
                </ion-list-header>

                <ion-button color="secondary" (click)="export(select, 'all')" float-rigth>Download</ion-button>

            </ion-list>
        </ion-col>
    </ion-row>

    <h2 padding>Download data from all users!</h2>

    <ion-row>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data for all Users</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-text>All Users</ion-text>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Entity</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-select [(ngModel)]="select" placeholder="Select One">
                        <ion-select-option value="activities">Activities</ion-select-option>
                        <ion-select-option value="challengeWins">Won Challenges</ion-select-option>
                        <ion-select-option value="goals">Goals</ion-select-option>
                        <ion-select-option value="goalWins">Won Goals</ion-select-option>
                        <ion-select-option value="trophyWins">Won Trophies</ion-select-option>
                        <ion-select-option value="viewLogs">View Logs</ion-select-option>
                        <ion-select-option value="actionLogs">Action Logs</ion-select-option>
                        <ion-select-option value="reactions">Reactions</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data</ion-label>
                </ion-list-header>

                <ion-button color="secondary" (click)="export(select, 'all')" float-rigth>Download</ion-button>

            </ion-list>
        </ion-col>
    </ion-row>

    <h2 padding>Download group data!</h2>


    <ion-row>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data for all Groups</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Entity</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center" *ngFor="let group of groups">

        <ion-col size="4">
            <ion-list>
                <ion-item>
                    <ion-text>{{group.name}}</ion-text>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-item>
                    <ion-select [(ngModel)]="group.select" placeholder="Select One">
                        <ion-select-option value="activities">Activities</ion-select-option>
                        <ion-select-option value="challengeWins">Won Challenges</ion-select-option>
                        <ion-select-option value="goals">Goals</ion-select-option>
                        <ion-select-option value="goalWins">Won Goals</ion-select-option>
                        <ion-select-option value="trophyWins">Won Trophies</ion-select-option>
                        <ion-select-option value="viewLogs">View Logs</ion-select-option>
                        <ion-select-option value="actionLogs">Action Logs</ion-select-option>
                        <ion-select-option value="reactions">Reactions</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">

            <ion-button color="secondary" (click)="export(group.select, 'group', group.id)">Download</ion-button>

        </ion-col>
    </ion-row>

    <h2 padding>Download user data!</h2>

    <ion-row>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data for Users</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Entity</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
    </ion-row>


    <ion-row class="ion-align-items-center" *ngFor="let user of users">

        <ion-col size="4">
            <ion-list>
                <ion-item>
                    <ion-text>{{user.name}}</ion-text>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-item>
                    <ion-select [(ngModel)]="user.select" placeholder="Select One">
                        <ion-select-option value="activities">Activities</ion-select-option>
                        <ion-select-option value="challengeWins">Won Challenges</ion-select-option>
                        <ion-select-option value="goals">Goals</ion-select-option>
                        <ion-select-option value="goalWins">Won Goals</ion-select-option>
                        <ion-select-option value="trophyWins">Won Trophies</ion-select-option>
                        <ion-select-option value="viewLogs">View Logs</ion-select-option>
                        <ion-select-option value="actionLogs">Action Logs</ion-select-option>
                        <ion-select-option value="reactions">Reactions</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>


        <ion-col size="4">
            <ion-list>
                <ion-button color="secondary" (click)="export(user.select, 'user', user.id)">Download</ion-button>
            </ion-list>
        </ion-col>
    </ion-row>

    <h2 padding>Download the whole database!</h2>

    <ion-row>
        <ion-button color="secondary" (click)="exportDb()" float-rigth>Download</ion-button>
    </ion-row>


</ion-content>

