<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Export</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngFor="let user of users">
    <ion-col size="4">
      <ion-list>
        <ion-list-header>
          <ion-label>User</ion-label>
        </ion-list-header>
        <ion-item> {{user.name}} </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="4">
      <ion-list>
        <ion-list-header>
          <ion-label>Group</ion-label>
        </ion-list-header>
        <ion-item>{{user.group}}</ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="4">
      <ion-list>
        <ion-list-header>
          <ion-label>Data</ion-label>
        </ion-list-header>
        <ion-item><ion-button color="light">Download</ion-button></ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>

