<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Rewards</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div padding text-decoration="underline">
    <ion-row>
      <h2>Challenge yourself!</h2>
    </ion-row>
<div *ngIf="(challengesObserve | async) && (challengesActiveObserve | async) && calculatedAll">
    <ion-item *ngFor="let challenge of challenges">
      <ng-container *ngIf="challenge.endTime.getTime() > date.getTime() || !challenge.finished">
        <ion-icon class="trophy" name="trophy"></ion-icon>
      <ion-label side="start"><h2>{{challenge.title}}
        <br> Until {{challenge.endTime  | date:'dd. MMM' }}
        <br> Participants: {{challenge.participants.length}}</h2>
      </ion-label>
      <ion-button side="end" color="secondary" size="medium" (click)="addToActiveList(challenge)" float-right>I'm in</ion-button>
    </ng-container>
    </ion-item>
  </div>
  
</div>

  <div padding>
    <ion-row>
      <h2>Your Active Challenges</h2>
    </ion-row>
    <div *ngIf="(challengesActiveObserve | async) && (challengesObserve | async) && calculatedActive">
    <ion-item *ngFor="let activeChallenge of activeChallenges">
      <ng-container *ngIf="activeChallenge.endTime.getTime() > date.getTime() || !activeChallenge.finished">
      <ion-icon class="trophy" name="trophy"></ion-icon>
      <ion-label side="start">
        <h2>{{activeChallenge.title}}
        <br> Until {{activeChallenge.endTime  | date:'dd. MMM' }}
        <br> Participants: {{activeChallenge.participants.length}}</h2>
      </ion-label>
      <ion-button color="secondary" size="medium" (click)= "removeFromActiveList(activeChallenge)" float-right>I'm out</ion-button>
    </ng-container>
    </ion-item>

  </div>
</div>
</ion-content>
