<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Challenges</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
  <div padding text-decoration="underline">
    <ion-row>
      <h4>Challenge yourself!</h4>
    </ion-row>
<div *ngIf="challenges">
  <ng-container *ngFor="let challenge of challenges">
  <ion-item  *ngIf="challenge.endTime.getTime() > date.getTime() && !challenge.finished">

        <ion-icon class="trophy" name="trophy"></ion-icon>
      <ion-label class="ion-text-wrap" side="start"><h2>{{challenge.title}}</h2>
        <p>{{challenge.description}}</p>
        <p>Until {{challenge.endTime  | date:'dd. MMM' }}</p>
        <p>Participants: {{challenge.participants.length}}</p>
        <p>Prize: {{challenge.price}}</p>
      </ion-label>
      <ion-button side="end" color="secondary" size="small" (click)="addToActiveList(challenge)" float-right>I'm in</ion-button>
    
    </ion-item>
  </ng-container>
   
  </div>
</div>

  <div padding>
    <ion-row>
      <h4>Your Active Challenges</h4>
    </ion-row>
    <div *ngIf="activeChallenges">
    <ng-container *ngFor="let activeChallenge of activeChallenges">
      <ion-item *ngIf="activeChallenge.endTime.getTime() > date.getTime() && !activeChallenge.finished">
      <ion-icon class="trophy" name="trophy"></ion-icon>
      <ion-label class="ion-text-wrap" side="start">
        <h2>{{activeChallenge.title}}</h2>        
        <p>{{activeChallenge.description}}</p>
        <p> Until {{activeChallenge.endTime  | date:'dd. MMM' }} </p>
        <p> Participants: {{activeChallenge.participants.length}}</p>
        <p>Prize: {{activeChallenge.price}}</p>
      </ion-label>
      <ion-button color="secondary" size="small" (click)= "removeFromActiveList(activeChallenge)" float-right>I'm out</ion-button>

    </ion-item>
  </ng-container>

  </div>
</div>
</ion-content>
