<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Rewards</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div padding text-decoration="underline">
    <ion-row>
      <h2>Challenge yourself!</h2>
    </ion-row>
<div *ngIf="(challengesObserve | async) && calculatedAll">
    <ion-item *ngFor="let challenge of challenges">
      <ion-row *ngIf="challenge.endTime.getTime() > date.getTime()">
      <ion-icon name="trophy"></ion-icon>
      <ion-label padding><h4>{{challenge.title}}</h4></ion-label>
      <ion-label padding><h4>{{challenge.endTime}}</h4></ion-label>
      <ion-label padding><h2>Participants: {{challenge.participants.length}}</h2></ion-label>
      <ion-button color="secondary" size="medium" (click)="addToActiveList(challenge)">I'm in</ion-button>
    </ion-row>
    </ion-item>
  </div>
  
</div>

  <div padding>
    <ion-row>
      <h2>Your Active Challenges</h2>
    </ion-row>
    <div *ngIf="(challengesActiveObserve | async)">
    <ion-item *ngFor="let activeChallenge of activeChallenges">
      <ion-row *ngIf="activeChallenge.endTime.getTime() > date.getTime()">
      <ion-icon name="trophy"></ion-icon>
      <ion-label padding><h4>{{activeChallenge.title}}</h4></ion-label>
      <ion-label padding><h4>{{activeChallenge.endTime}}</h4></ion-label>
      <ion-label padding><h2>Participants: {{activeChallenge.participants.length}}</h2></ion-label>
      <ion-button color="secondary" size="medium" (click)= "removeFromActiveList(activeChallenge)">I'm out</ion-button>
    </ion-row>
    </ion-item>

  </div>
</div>
</ion-content>
