<ion-list>
  <ion-item>
    <ion-label>Group:</ion-label>
    <ion-input placeholder="Enter group"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Progress:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Information:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Rewards:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Newsfeed:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Leaderboard:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-button color="secondary"  slot="end" float-right>Create</ion-button>
  </ion-item>
</ion-list>