<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Challenges</ion-title>
  </ion-toolbar>

  <section>
    <ion-button color="secondary"  slot="end" float-right padding (click)="presentPopover($event)">Create Challenge</ion-button>
  </section>
  <br><br><br>

  <ion-row>
    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Title</ion-label>
        </ion-list-header>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Description</ion-label>
        </ion-list-header>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Starts</ion-label>
        </ion-list-header>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Ends</ion-label>
        </ion-list-header>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-list-header>
          <ion-label>Prize</ion-label>
        </ion-list-header>
      </ion-list>
    </ion-col>
  </ion-row> 

</ion-header>

<ion-content>

  <h2 padding>All open Challenges!</h2>
 
  <ng-container  *ngFor="let challenge of challenges">
  <ion-row class="ion-align-items-end"  *ngIf="!challenge.finished && challenge.endTime.getTime() > today.getTime()">
    <ion-col size="2">
      <ion-list>
        <ion-item><ion-textarea [(ngModel)]="challenge.title"></ion-textarea></ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-item><ion-textarea [(ngModel)]="challenge.description"></ion-textarea></ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-item><ion-datetime [(ngModel)]="challenge.startTimeIso"></ion-datetime></ion-item>
      </ion-list>
    </ion-col>
 <ion-col size="2">
      <ion-list>
        <ion-item>
          <ion-datetime  [(ngModel)]="challenge.endTimeIso" [min]="challenge.startTimeIso"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-item><ion-textarea [(ngModel)]="challenge.price"></ion-textarea></ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="2">

      <ion-button color="secondary" (click)="editChallenge(challenge)">Save</ion-button>
      <ion-button color="secondary" (click)="endChallenge(challenge)">End</ion-button>
   
      </ion-col>
  </ion-row>
</ng-container>

<h2 padding>All finished Challenges!</h2>
<ng-container  *ngFor="let challengeF of challenges">
  <ion-row class="ion-align-items-end"  *ngIf="challengeF.finished || challengeF.endTime.getTime() < today.getTime()">
    <ion-col size="2">
      <ion-list>
        <ion-item><ion-textarea [(ngModel)]="challengeF.title"></ion-textarea></ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-item><ion-textarea [(ngModel)]="challengeF.description"></ion-textarea></ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
        <ion-item><ion-datetime [(ngModel)]="challengeF.startTimeIso"></ion-datetime></ion-item>
      </ion-list>
    </ion-col>
 <ion-col size="2">
      <ion-list>
        <ion-item>
          <ion-datetime  [(ngModel)]="challengeF.endTimeIso"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="1">
      <ion-list>
        <ion-item><ion-textarea [(ngModel)]="challengeF.price"></ion-textarea></ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="2">
      <ion-list>
          <ion-select placeholder="Select One" [(ngModel)]="challengeF.winner">
          <ion-select-option  *ngFor="let user of users" [value]="user.id">{{user.name}}</ion-select-option>
          </ion-select>
      </ion-list>
    </ion-col>
    <ion-col size="1">

      <ion-list>
        <ion-item>
          <ion-button color="secondary" (click)="selectWinner(challengeF, challengeF.winner)"><ion-icon name ="checkmark"></ion-icon></ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ng-container>


</ion-content>
