
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Leaderboard</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <ion-segment [(ngModel)]="ranking">
      <ion-segment-button value="trophies" *ngIf="rewards">
        trophies
      </ion-segment-button>
      <ion-segment-button value="actMinutes">
        active minutes
      </ion-segment-button>
      <ion-segment-button value="challenges" *ngIf="rewards">
        challenges
      </ion-segment-button>
    </ion-segment>


<div *ngIf="(trophiesObserve  | async) && (activitiesObserve | async) && (currentUser !== undefined)">
<div [ngSwitch]="ranking">
  <ion-list *ngSwitchCase="'trophies'">
  
    <ion-item *ngFor="let user of trophiesList; let counter = index" [attr.data-index]="counter">
      <ng-container *ngIf="user.id == currentUser.id; else running">
        <p slot="start" class="self">{{counter+1}}</p>
        <ion-avatar slot="start">
      <!--  <img [src]="person.image">-->
       </ion-avatar>
       <ion-label>
          <h2 class="self"> You </h2>
          <h3>{{ calculateAge(user.birthday) }} years old</h3>
        </ion-label>
    <ion-label side="end">
      <p class="self">{{user.activity}} active minutes</p>
    </ion-label>
  </ng-container>
  <ng-template #running>
    <p slot="start">{{counter+1}}</p>
    <ion-avatar slot="start">
      <!--<img [src]="person.image">-->
    </ion-avatar>
    <ion-label>
      <h2>{{user.username}}</h2>
      <h3>{{ calculateAge(user.birthday) }} years old</h3>
    </ion-label>
    <ion-label side="end">
      <p>{{user.activity}} active minutes</p>
    </ion-label>

  </ng-template>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'actMinutes'">
    <ion-item *ngFor="let user of activitiesModerate ; let counter = index" [attr.data-index]="counter">

      <ng-container *ngIf="user.id == currentUser.id; else running">
        <p slot="start" class="self">{{counter+1}}</p>
        <ion-avatar slot="start">
          <!--<img [src]="person.image">-->
        </ion-avatar>
        <ion-label>
          <h2 class="self"> You </h2>
          <h3>{{ calculateAge(user.birthday) }} years old</h3>
        </ion-label>
        <ion-label side="end">
          <p class="self">{{user.activity}} active minutes</p>
        </ion-label>
      </ng-container>
      <ng-template #running>
        <p slot="start">{{counter+1}}</p>
        <ion-avatar slot="start">
          <!--<img [src]="person.image">-->
        </ion-avatar>
        <ion-label>
          <h2>{{user.username}}</h2>
          <h3>{{ calculateAge(user.birthday) }} years old</h3>
        </ion-label>
        <ion-label side="end">
          <p>{{user.activity}} active minutes</p>
        </ion-label>

      </ng-template>

    </ion-item>
  </ion-list>
<!--
  <ion-list *ngSwitchCase="'challenges'">
    <ion-item *ngFor="let person of persons">
      <ion-avatar slot="start">
        <img [src]="person.image">
      </ion-avatar>
      <ion-label>
        <h2>{{person.name}}</h2>
        <h3>{{person.age}} years old</h3>
      </ion-label>
      <ion-label side="end">
        <p>{{person.actMinutes}} active minutes</p>
      </ion-label>
    </ion-item>
  </ion-list>
-->
  </div>
</div>
  



    <!--<ion-list>
      <ion-list-header>
        Active Minutes
      </ion-list-header>
  
      <ion-item *ngFor="let person of persons">
        <ion-avatar slot="start">
          <img [src]="person.image">
        </ion-avatar>
        <ion-label>
          <h2>{{person.name}}</h2>
          <h3>{{person.age}} years old</h3>
        </ion-label>
        <ion-label side="end">
          <p>{{person.actMinutes}} active minutes</p>
        </ion-label>
      </ion-item>
    </ion-list>-->
  </ion-content>

