<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Progress</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button type="button" (click)='createActivity()'>Create</ion-button>
    <ion-button type="button" (click)='editActivity()'>Edit</ion-button>
    <ion-button type="button" (click)='getActivity()'>Get</ion-button>
    <ion-button type="button" (click)='getAllActivities()'>Get All</ion-button>
    <ion-button type="button" (click)='createGoals()'>Create Goals</ion-button>
    <ion-button type="button" (click)='adjustGoal()'>Adjust Goal</ion-button>
    
  <button ion-button full (click)="saveWorkout()">Set a Workout</button>

  <ion-row>
    <ion-col size="4">
        <ion-item>Progress</ion-item>
    </ion-col>
    <ion-col size="8">
        <ion-item>
        <ion-segment>
            <ion-segment-button value="trophies">
            day
            </ion-segment-button>
            <ion-segment-button value="actMinutes">
            week
            </ion-segment-button>
            <ion-segment-button value="challenges">
            month
            </ion-segment-button>
    </ion-segment>
    </ion-item>
    </ion-col>
   </ion-row>

  <ion-card class="welcome-card">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <canvas #hrzLineChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-item>  
    <ion-button routerLink="/menu/goals/goals/detail" color="secondary" slot="end" float-right>Edit goals</ion-button>
</ion-item>  


    <ion-list *ngFor="let goal of (goals | async)">
        <ion-list-header>
            <ion-label>{{goal.name}} - {{goal.type}}</ion-label>
            <ion-label side="end">{{goal.current}} / {{goal.target}} min</ion-label>
        </ion-list-header>
        <ion-progress-bar color="primary" [value]="goal.relative"></ion-progress-bar>


        <!-- Colorize Progressbar -->
        <!-- <ion-item>
          <ion-text slot="end">Goal 1</ion-text>
          <ion-progress-bar color="primary" value="0.9"></ion-progress-bar></ion-item>
         <ion-item> <ion-progress-bar color="primary" value="0.58"></ion-progress-bar></ion-item>
         <ion-item> <ion-progress-bar color="primary" value="0.27"></ion-progress-bar></ion-item>-->
    </ion-list>



    <!--<ion-list>
        <ion-list-header>
            Goals
        </ion-list-header>



        <ion-item *ngFor="let goal of (goals | async)">
            <ion-label>
                <h2>20.10. {{goal.name}}: {{goal.current}} / {{goal.target}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>-->

    <ion-list>
        <ion-list-header>
            Activities
        </ion-list-header>

        <ion-item *ngFor="let activity of (activities | async)">
            <ion-label>
                <h2>20.10. 20 minutes {{activity.type}}-{{activity.intensity}}</h2>
            </ion-label>
            <ion-icon name="create" slot="end" (click)='routeToEditPage(activity)'>
            </ion-icon>
        </ion-item>
    </ion-list>
    

</ion-content>
