<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Progress</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--<ion-button type="button" (click)='createActivity()'>Create</ion-button>
    <ion-button type="button" (click)='editActivity()'>Edit</ion-button>
    <ion-button type="button" (click)='getActivity()'>Get</ion-button>
    <ion-button type="button" (click)='getAllActivities()'>Get All</ion-button>
    <ion-button type="button" (click)='createGoals()'>Create Goals</ion-button>
    <ion-button type="button" (click)='adjustGoal()'>Adjust Goal</ion-button>

    <ion-button type="button" (click)='loadHealthData()'>Load some Health Data</ion-button>
    <ion-button type="button" (click)='saveWorkout()'>Save some Health Data</ion-button>-->
    

  <ion-row>
    <ion-col size="4">
        <ion-item>Progress</ion-item>
    </ion-col>
    <ion-col size="8">
        <ion-item>
        <ion-segment [(ngModel)]="duration">
            <ion-segment-button value="day" (click)="defineChartDataDaily()">
            day
            </ion-segment-button>
            <ion-segment-button value="week" (click)="defineChartData()">
            week
            </ion-segment-button>
    </ion-segment>
    </ion-item>
    </ion-col>
   </ion-row>

 <!-- <ion-card class="welcome-card">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>-->
     <!--<canvas id="barChart" width="100%" #barChart></canvas>--> 

     <div [ngSwitch]="duration">

      <ion-card *ngSwitchCase="'day'">
          <canvas #hrzBarChart5 height="400"></canvas>
      </ion-card>

      
      <ion-card *ngSwitchCase="'week'" >
            <canvas #weeklyChart height="400"></canvas>
      </ion-card>

    </div>

      
 
 <!--<ion-item>  
    <ion-button routerLink="/menu/goals/goals/detail" color="secondary" slot="end" float-right>Edit goals</ion-button>
</ion-item>-->


    <ion-card>
        <ion-list-header>
           Daily Goals 
        </ion-list-header>
        <ng-container *ngFor="let goal of goalStorage, let i = index" >
        <ng-container *ngIf="i === 0" >

        <ion-list>
            <ion-item>
            <ion-label side="start">
                <h3>{{goalStorage[i].duration}} </h3>
                <p>{{goalStorage[i].type}}</p>
            </ion-label>
            <ion-label side="end"><h3>{{goalStorage[i].current}} / {{goalStorage[i].target}} min</h3></ion-label>
          <ion-icon name="create" id="edit" (click)='routeToEditGoalPage(goalStorage[i])'></ion-icon>
        </ion-item>
        <ion-progress-bar color="secondary" [value]="goalStorage[i].relative"></ion-progress-bar>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label side="start">
                <h3>{{goalStorage[i+1].duration}} </h3>
                <p>{{goalStorage[i+1].type}}</p>
            </ion-label>
            <ion-label side="end"><h3>{{goalStorage[i+1].current}} / {{goalStorage[i+1].target}} min</h3></ion-label>
        <ion-icon name="create" id="edit" (click)='routeToEditGoalPage(goalStorage[i+1])'></ion-icon>
        </ion-item>
        <ion-progress-bar color="primary" [value]="goalStorage[i+1].relative"></ion-progress-bar>
    </ion-list>
    <ion-list>
        <ion-item>
        <ion-label side="start">
            <h3>{{goalStorage[i+2].duration}} </h3>
            <p>{{goalStorage[i+2].type}}</p>
        </ion-label>
        <ion-label side="end"><h3>{{goalStorage[i+2].current}} / {{goalStorage[i+2].target}} min</h3></ion-label>
    <ion-icon name="create" id="edit" (click)='routeToEditGoalPage(goalStorage[i+2])'></ion-icon>
    </ion-item>
    <ion-progress-bar color="tertiary" [value]="goalStorage[i+2].relative"></ion-progress-bar>
    </ion-list>
</ng-container>
</ng-container>
</ion-card>



<ion-slides  [options]="slideOpts"  #slides>
    <ng-container *ngFor="let goal of oldGoals, let i = index" >
    <ion-slide  class="slide" *ngIf="i % 3 === 0" >

        <ion-card>
            <ion-list-header>
                <ion-icon size="small" name="arrow-back" (click)="slidePrev()"></ion-icon>
                Weekly Goals 
                <ion-icon class="right" size="small" name="arrow-forward" (click)="slideNext()"></ion-icon>
             </ion-list-header>
        <ion-list>
            <ion-item>
                <ion-label side="start">
                    <h3>{{oldGoals[i].name}} </h3>
                    <p>{{oldGoals[i].intensity}}</p>
                </ion-label>
            <ion-label side="end"><h3 text-right>{{oldGoals[i].duration}} / {{oldGoals[i].weekGoal}} min
            </h3></ion-label>

        </ion-item>
        <ion-progress-bar color="secondary" [value]="oldGoals[i].relative"></ion-progress-bar>
    </ion-list>

    <ion-list>
        <ion-item>
        <ion-label side="start">
            <h3>{{oldGoals[i+1].name}} </h3>
            <p>{{oldGoals[i+1].intensity}}</p>
        </ion-label>
        
        
        <ion-label side="end"><h3 text-right>{{oldGoals[i+1].duration}} / {{oldGoals[i+1].weekGoal}} min</h3></ion-label>

    </ion-item>
    <ion-progress-bar color="primary" [value]="oldGoals[i+1].relative"></ion-progress-bar>
</ion-list>

<ion-list>
    <ion-item>
    <ion-label side="start">
        <h3>{{oldGoals[i+2].name}} </h3>
        <p>{{oldGoals[i+2].intensity}}</p>
    </ion-label>
    
    
    <ion-label><h3 text-right>{{oldGoals[i+2].duration}} / {{oldGoals[i+2].weekGoal}} min</h3></ion-label>

</ion-item>
<ion-progress-bar color="tertiary" [value]="oldGoals[i+2].relative"></ion-progress-bar>
</ion-list>

    </ion-card>
    </ion-slide>
    </ng-container>

<ng-container *ngFor="let goal of goalStorage; let i = index">
<ion-slide *ngIf="i === 3">
    <ion-card>
        <ion-list-header>
            <ion-icon size="small" name="arrow-back" (click)="slidePrev()"></ion-icon>
            Weekly Goals 
            <ion-icon size="small" name="arrow-forward" (click)="slideNext()" class="right"></ion-icon>
         </ion-list-header>
        <ion-list >
            <ion-item>
            <ion-label side="start">
                <h3>{{goalStorage[i].duration}} </h3>
                <p>{{goalStorage[i].type}}</p>
            </ion-label>      
            <ion-label side="end"><h3>{{goalStorage[i].current}} / {{goalStorage[i].target}} min</h3></ion-label>
          <ion-icon name="create" id="edit" (click)='routeToEditGoalPage(goalStorage[i])'></ion-icon>

        </ion-item>
        <ion-progress-bar color="secondary" [value]="goalStorage[i].relative"></ion-progress-bar>
    </ion-list>
    <ion-list >
        <ion-item>
        <ion-label side="start">
            <h3>{{goalStorage[i+1].duration}} </h3>
            <p>{{goalStorage[i+1].type}}</p>
        </ion-label>      
        <ion-label side="end"><h3>{{goalStorage[i+1].current}} / {{goalStorage[i+1].target}} min</h3></ion-label>
      <ion-icon name="create" id="edit" (click)='routeToEditGoalPage(goalStorage[i+1])'></ion-icon>

        </ion-item>
        <ion-progress-bar color="primary" [value]="goalStorage[i+1].relative"></ion-progress-bar>
    </ion-list>
    <ion-list >
    <ion-item>
    <ion-label side="start">
        <h3>{{goalStorage[i+2].duration}} </h3>
        <p>{{goalStorage[i+2].type}}</p>
    </ion-label>      
    <ion-label side="end"><h3>{{goalStorage[i+2].current}} / {{goalStorage[i+2].target}} min</h3></ion-label>
  <ion-icon name="create" id="edit" (click)='routeToEditGoalPage(goalStorage[i+2])'></ion-icon>

</ion-item>
<ion-progress-bar color="tertiary" [value]="goalStorage[i+2].relative"></ion-progress-bar>
</ion-list>
</ion-card>
</ion-slide>
</ng-container>



</ion-slides>


    <!--<ion-list>
        <ion-list-header>
            Goals
            <section>
                <ion-button routerLink="/menu/goals/goals/detail" slot="end" float-right> Edit <ion-icon name="create"></ion-icon></ion-button>
            </section>
        </ion-list-header>

        <ion-item *ngFor="let goal of (goals | async)">
            <ion-label>
                <h2>20.10. {{goal.name}}: {{goal.current}} / {{goal.target}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>-->

    <ion-card>
    <ion-list>
        <ion-list-header>
            Activities
        </ion-list-header>

        <ion-item *ngFor="let activity of (displayedActivities | async)">
            <ion-label>
                <!-- {{ activity.startTime != null ? activity.startTime : '20.10.'  }}-->
                <h3>{{ activity.startTime | date:'dd.MM. HH:mm' }} {{activity.getDuration()}} minutes</h3>
                <p>{{activity.type}} - {{activity.intensity}}</p>
            </ion-label>
            <ion-icon name="create" slot="end" (click)='routeToEditPage(activity)'>
            </ion-icon>
        </ion-item>
    </ion-list>
    <ion-button *ngIf="(activities | async)?.length > 5" expand="block" color="secondary" (click)="loadMoreActivities()">Read more</ion-button>
</ion-card>

</ion-content>
