
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Goals</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Goals</ion-label>
    </ion-list-header>
    <!-- Colorize Progressbar -->
   <ion-item> <ion-progress-bar color="primary" value="0.9"></ion-progress-bar></ion-item>
   <ion-item> <ion-progress-bar color="primary" value="0.58"></ion-progress-bar></ion-item>
   <ion-item> <ion-progress-bar color="primary" value="0.27"></ion-progress-bar></ion-item>
   <ion-item>
    <ion-label>daily goals</ion-label>
    <ion-input placeholder="Text Input"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Monthly goals</ion-label>
    <ion-input placeholder="Text Input"></ion-input>
  </ion-item>
  
  </ion-list>

  
</ion-content>
