
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Goals</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="goals">
    <ion-segment-button value="trophies">
      moderate
    </ion-segment-button>
    <ion-segment-button value="actMinutes">
      vigorous
    </ion-segment-button>
    <ion-segment-button value="challenges">
      weight training
    </ion-segment-button>
  </ion-segment>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Goals</ion-label>
    </ion-list-header>
    <!-- Colorize Progressbar -->
   <ion-item> <ion-progress-bar color="primary" value="0.27"></ion-progress-bar></ion-item>
   <ion-item>
    <ion-label>daily goals</ion-label>
    <ion-input placeholder="500"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Monthly goals</ion-label>
    <ion-input placeholder="1500"></ion-input>
  </ion-item>
  
  </ion-list>
  <section>
    <ion-button slot="end" float-right> Change goals </ion-button>
  </section>

  
</ion-content>
