<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 padding>Manage articles</h2>
  <ion-row *ngFor="let article of articles">
    <ion-col size="3">
      <ion-list>
        <ion-list-header>
          <ion-label>Title</ion-label>
        </ion-list-header>
        <ion-item> {{article.title}} </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="3">
      <ion-list>
        <ion-list-header>
          <ion-label>Description</ion-label>
        </ion-list-header>
        <ion-item>{{article.description}}</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
