<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Articles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 padding>Manage articles</h2>

    <section>
        <ion-button color="secondary" padding (click)="presentPopover($event)">Create Article</ion-button>
    </section>
    <section>
        <ion-button color="secondary" padding (click)="editArticle()">Save</ion-button>
    </section>
    <br><br><br>

    <ion-row>
        <ion-col size="3">
            <ion-list>
                <ion-list-header>
                    <ion-label>Title</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
        <ion-col size="3">
            <ion-list>
                <ion-list-header>
                    <ion-label>Description</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
        <ion-col size="3">
            <ion-list>
                <ion-list-header>
                    <ion-label>Link</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
        <ion-col size="3">
            <ion-list>
                <ion-list-header>
                    <ion-label>Image</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row *ngFor="let article of articles">
        <ion-col size="3">
            <ion-list>
                <ion-item><ion-input>{{article.title}} </ion-input> </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="3">
            <ion-list>
                <ion-item><ion-input>{{article.content}}</ion-input></ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="3">
            <ion-list>
                <ion-item><ion-input>{{article.link}}</ion-input></ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="3">
            <ion-list>
                <ion-item><ion-input>{{article.picture}}</ion-input></ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

</ion-content>
