p {
    font-size:3em;
    width: 100%;
    text-align: center;
}

#id{
    text-align: right;
}

.error-message{
    margin: 13px;
    color: red;
    display:flex;
    //vertical-align: middle;
   }