<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Newsfeed</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="cards-bg social-cards">
  <ion-card>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../assets/Profilbild.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Phil Doe</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
    <img src="../assets/Laufschuhe.jpg">

    <ion-card-content>
      Phil ran 10 km.
    </ion-card-content>

    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="time"></ion-icon>
            <div>11h ago</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  
  </ion-card>

</ion-content>

