<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
  </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
 <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/Profilbild.jpg">
        <!--img [src]="post.image"-->
      </ion-avatar>
      <ion-label>
        <h2>Ursula</h2> 
        <p>30 Jahre</p>
        <ion-button (click)="testAlert()">
          <ion-icon name="create" (click)="testAlert()"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item> 
</ion-card>

<ion-card>
<ion-list-header>
  Goals
</ion-list-header>
<ion-list *ngFor="let goal of (goals | async)">

      <ion-label>
        <h3>{{goal.name}} - {{goal.type}} </h3>
        <p>{{goal.current}} / {{goal.target}}</p> 
      </ion-label>

  <ion-progress-bar color="primary" [value]="goal.relative"></ion-progress-bar>

  <!-- Colorize Progressbar -->
  <!-- <ion-item>
    <ion-text slot="end">Goal 1</ion-text>
    <ion-progress-bar color="primary" value="0.9"></ion-progress-bar></ion-item>
   <ion-item> <ion-progress-bar color="primary" value="0.58"></ion-progress-bar></ion-item>
   <ion-item> <ion-progress-bar color="primary" value="0.27"></ion-progress-bar></ion-item>-->
</ion-list>
</ion-card>

<ion-card>
<ion-list>
<ion-list-header>
    Activities
</ion-list-header>
<ion-item *ngFor="let activity of (activities | async)">
    <ion-label>
        <h3>20.10.2019 - 20 minutes </h3>

        <p>{{activity.type}}-{{activity.intensity}}</p> 
    </ion-label>
        
    
</ion-item>
</ion-list>
</ion-card>