<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Old goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-list-header>
            Goals 
        </ion-list-header>

        <ion-list>
            <ion-item>
            <ion-label side="start">
                Last Week Moderate
            </ion-label>
            </ion-item>
    <ion-progress-bar color="primary" [value]="relative"></ion-progress-bar>
    </ion-list>

    <ion-list-header>
        Goals 
    </ion-list-header>

    <ion-list>
        <ion-item>
        <ion-label side="start">
            Last Week Vigorous
        </ion-label>
        </ion-item>
    <ion-progress-bar color="primary" [value]="relativeV"></ion-progress-bar>
    </ion-list>

    <ion-list>
        <ion-item>
        <ion-label side="start">
            Last Week Weight
        </ion-label>
        </ion-item>
    <ion-progress-bar color="primary" [value]="relativeW"></ion-progress-bar>
    </ion-list>
    </ion-card>


</ion-content>
