<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Old goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-list-header>
            Goals 
        </ion-list-header>

        <ion-list *ngFor="let goal of oldGoals">
            <ion-item>
            <ion-label side="start">
                <h3>{{goal.name}} </h3>
            </ion-label>
            
            
            <ion-label side="end"><h3>{{goal.duration}} / {{goal.weekGoal}} min</h3></ion-label>

        </ion-item>
        <ion-progress-bar color="primary" [value]="goal.relative"></ion-progress-bar>

    </ion-list>
    </ion-card>



</ion-content>
