
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Credits</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-img width="20" src="../assets/Logo.png" >
  </ion-img>
  <div class="ion-text-center">

      <h2>You like to....</h2>
    <h1>MoveIt!!</h1>
  </div>


  <ion-card>
    <ion-list-header>
      App Designed & Developed by...
  </ion-list-header>
    <ion-list>
       
        <ion-item>
            <ion-label>
                <p>Cennet Back</p>
                <p>Taib Demirci</p>  
                  <p>Björn Korioth</p>
                  <p>Klara Roth</p>
                  <p>Konstantin Schmidt</p>
                  <p>Murat Selcuk</p> 
                  <p>Furkan Temel</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-card>

  <ion-card>
    <ion-list-header>
      Picture Credits
  </ion-list-header>
    <ion-list>
       
        <ion-item>
            <ion-label>
                <p>Icon made by <a href="https://www.flaticon.com/authors/eucalyp">Eucalyp </a>from www.flaticon.com</p>
                <p>Icon made by <a href="https://www.flaticon.com/authors/payungkead">Payungkead </a>from www.flaticon.com</p>
                <p>Icon made by <a href="https://www.flaticon.com/authors/flat-icons">flat-icons </a>from www.flaticon.com</p>
                <p>Icon made by <a href="https://www.flaticon.com/authors/freepik">Freepik </a>from www.flaticon.com</p>

            </ion-label>
        </ion-item>
    </ion-list>
</ion-card>

</ion-content>
