<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Trophies</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button class="button" (click)="initializeTrophies()">Initialize</ion-button>
    <ion-button class="button" (click)="updateTrophies()">Update</ion-button>-->


    <div>
      
    <ion-row>
      <ion-col size="4" *ngFor="let trophy of trophies" margin-top="80">
        <ion-list class="wrapper">
          <ion-item>
              <img [src]="'./assets/Trophy.png'" (click)="presentPopover(trophy, $event)"/>
          </ion-item>
             <p>{{trophy.title}}</p>

        </ion-list>
      </ion-col>

      <ion-col size="4" *ngFor="let trophy of inactTrophies" margin-top="80">
        <ion-list class="wrapper">
          <ion-item>
              <img [src]="'./assets/TrophyNotAchieved.png'" (click)="presentPopover(trophy, $event)"/>
          </ion-item>
             <p> {{trophy.title}}</p>
        </ion-list>
      </ion-col>
    </ion-row>
    
  </div>
</ion-content>
