<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Rewards</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-row>
      <ion-col size="4" *ngFor="let trophy of trophies" margin-top=80>
        <ion-list>
          <ion-item>
              <ion-img [src]="trophy.image"></ion-img>
          </ion-item>
          <ion-item padding>
              {{trophy.title}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
  </div>

  <div padding text-decoration="underline">
    <ion-row>
      <h2>Challenge yourself!</h2>
    </ion-row>

    <ion-item *ngFor="let challenge of challenges">
      <ion-icon name="trophy"></ion-icon>
      <ion-label padding><h4>{{challenge.title}}</h4></ion-label>
      <ion-button color="secondary" size="medium" (click)="addToActiveList(challenge)">I'm in</ion-button>
    </ion-item>
  </div>

  <div padding>
    <ion-row>
      <h2>Your Active Challenges</h2>
    </ion-row>

    <ion-item *ngFor="let activeChallenge of activeChallenges">
      <ion-icon name="trophy"></ion-icon>
      <ion-label padding><h4>{{activeChallenge.title}}</h4></ion-label>
      <ion-button color="secondary" size="medium" (click)= "removeFromActiveList(activeChallenge)">I'm out</ion-button>
    </ion-item>

  </div>

  




</ion-content>
