<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Activity</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content fullscreen>
  
  <ion-list>
    <ion-item>
      <ion-label>Kind of activity</ion-label>
      <ion-select placeholder="Select One" disabled="false">
        <ion-select-option value="running">running</ion-select-option>
        <ion-select-option value="swimming">swimming</ion-select-option>
        <ion-select-option value="walking">walking</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Activity</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="moderate">moderate</ion-select-option>
          <ion-select-option value="vigorous">vigorous</ion-select-option>
          <ion-select-option value="weight training">weight training</ion-select-option>
        </ion-select>
      </ion-item> 

    <ion-item>
      <ion-input type="number" placeholder="Minutes"></ion-input>
    </ion-item>
  </ion-list>

    <section>
      <ion-button color="secondary" slot="end" float-right>Add activity</ion-button>
      <!--<ion-button expand="block">Add activity</ion-button>-->
    </section>

  </ion-content>

  

