<ion-list>

  <!--<ion-item>
    <ion-label>Username:</ion-label>
    <ion-input placeholder="Enter username"></ion-input>
  </ion-item>-->

  <ion-radio-group [(ngModel)]="UserConfig">

    <ion-item *ngFor="let group of groups">
      <ion-label>{{group.name}}</ion-label>
      <ion-radio [value]="group"></ion-radio>
    </ion-item>

</ion-radio-group>
  <!--<ion-item>
    <ion-label>Username:</ion-label>
    <ion-input placeholder="Enter username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Group 1:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Group 2:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Group 3:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>-->
  <ion-item>
    <ion-button color="secondary"  slot="end" (click)="createUser()" float-right>Create</ion-button>
  </ion-item>
</ion-list>