<ion-list>
  <ion-item>
    <ion-label>Username:</ion-label>
    <ion-input placeholder="Enter username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Group 1:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Group 2:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Group 3:</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-button color="secondary"  slot="end" float-right>Create</ion-button>
  </ion-item>
</ion-list>