<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Add activity</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-content scroll-y="false" class="card-background-page">

        <ion-card routerLink='/menu/add-activity/add/manual'>
            <img src="../assets/manually.png"/>
            <div class="card-title">Add activity manually!</div>
        </ion-card>


        <ion-card routerLink='/menu/add-activity/add/track'>
            <img src="../assets/stopwatch.png"/>
            <div class="card-title">Track your activity!</div>
        </ion-card>

        

        <ion-card (click)='synchronizeActivities()'>
            <img src="../assets/sync.png"/>
            <div class="card-title">Synchronize activities</div>
            <div class="">Last synchronized {{ lastDate }}</div>
        </ion-card>
    </ion-content>

</ion-content>
