<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>App Configuration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-button padding (click)="createGroup()">Create Group</ion-button>
  <ion-button padding (click)="editGroup()">Edit Group</ion-button>
  <ion-button padding (click)="createUser()">Create User</ion-button>
  <ion-button padding (click)="changeUserGroup()">Change User Group</ion-button>-->
  <ion-button id="group" color="secondary" padding (click)="presentPopoverGroup($event)" float-right>New Group</ion-button>

  <ion-row>
    <h4 padding>Manage the groups</h4>
      
  </ion-row>


  <div style="border-bottom:1px solid black">
  
    <ion-row>
      <ion-col size="2">
        <ion-list>
          <ion-list-header>
            <ion-label>Group</ion-label>
          </ion-list-header>
        </ion-list>
      </ion-col>

        
      <ion-col size="3">
        <ion-list>
          <ion-list-header>
            <ion-label>Newsfeed</ion-label>
          </ion-list-header>
        </ion-list>
      </ion-col>

      <ion-col size="3">
        <ion-list>
          <ion-list-header>
            <ion-label>Leaderboard</ion-label>
          </ion-list-header>
        </ion-list>
      </ion-col>
  
      <ion-col size="3">
        <ion-list>
          <ion-list-header>
            <ion-label>Rewards</ion-label>
          </ion-list-header>
        </ion-list>
      </ion-col>
    </ion-row>


  <ion-row class="ion-align-items-center" *ngFor="let group of allGroups">
    <ion-col size="2">
      <ion-list>
        <ion-item>{{group.name}} </ion-item>
      </ion-list>
    </ion-col>

 
    <ion-col size="3" *ngFor="let feature of group.featureVector">  
    <ion-list  >
        <ion-item>
          <ion-checkbox [(ngModel)]="feature.isChecked"></ion-checkbox>
          {{feature.val}}
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="1">
      <ion-list>
        
          <ion-button color="secondary" (click)="editGroup(group)">Save</ion-button>
   
      </ion-list>
    </ion-col>

  </ion-row>
</div>

<section>
<ion-button id="user" color="secondary"  slot="end" padding (click)="presentPopover($event)" float-right>New OTP</ion-button>
</section>

<ion-row>
  <h4 padding>Manage the users</h4>
</ion-row>

  <div>
  <ion-row class="ion-align-items-center"  *ngFor="let user of (users | async)">
    <ion-col size="4">
      <ion-list>
        <ion-item> {{user.name}} </ion-item>
      </ion-list>
    </ion-col>

    <ion-col size="4">

      <ion-item>
      <ion-select placeholder="Select One" [(ngModel)]="user.group">
        <ion-select-option  *ngFor="let group of allGroups" [value]="group.id">{{group.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>

  <ion-col size="4">
    <ion-list>
   
        <ion-button size="big" color="secondary" (click)="editUserconfig(user.id, user.group)" float-right>Save</ion-button>

    </ion-list>
  </ion-col>
</ion-row>
</div>

<div>
  <section>
    <h4 padding>Available One Time Passwords</h4>
  </section>

  <ion-row>
    <ion-col size="4">
      <ion-list>
        <ion-list-header>
          <ion-label>OTP</ion-label>
        </ion-list-header>
      </ion-list>
    </ion-col>

      
    <ion-col size="4">
      <ion-list>
        <ion-list-header>
          <ion-label>Group</ion-label>
        </ion-list-header>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center"  *ngFor="let otp of otps">
    <ion-col size="4">
      <ion-list>
        <ion-item> {{otp.otp}} </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="4">
      <ion-list>
        <ion-item> {{otp.group}} </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</div>
 
</ion-content>

 